<html>
    <head>
        <link rel="stylesheet" type="text/css" href="main.css">
        <title>Inicio</title>
    </head>
    <body>
        <div id="img"></div>
            <article>
            <h1>Menu do Hotel</h1>
            <a href="/listagemhospedes"><h2>Hospedes</h2></a>
            <a href="/listagemreservas"><h2>Reservas</h2></a>
            <a href="/listagemquarto"><h2>Quartos</h2></a>
            <a href="/listagemtipoquarto"><h2>Tipo dos Quartos</h2></a>
            <a href="/listagemestacionamento"><h2>Estacionamento</h2></a>
        </article>
        
    </body>
</html>