<html>
    <head>
        <link rel="stylesheet" type="text/css" href="main.css">
        <title>Inicio</title>
    </head>
    <body>
        <header>
            <h1>Inicio</h1>
        </header>
        <article>
            <a href="/listagemhospedes"><button id="a">Hospedes</button></a>
            <a href="/listagemreservas"><button id="b">Reservas</button></a>
            <a href="/listagemquarto"><button id="c">Quartos</button></a>
            <br><br>
            <a href="/listagemtipoquarto"><button id="d">Tipo dos Quartos</button></a>
            <a href="/listagemestacionamento"><button id="e">Estacionamento</button></a>
        </article>
    </body>
</html>